<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置连接池-->
    <!--引入外部属性文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置C3P0连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置hibernate相关信息-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置hibernate其他属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <!--配置hibernate的映射文件-->
        <property name="mappingResources">
            <list>
                <value>user/pojo/User.hbm.xml</value>
                <value>category/pojo/Categoey.hbm.xml</value>
                <value>product/pojo/Product.hbm.xml</value>
                <value>categorySecond.pojo/CategorySecond.hbm.xml</value>
                <value>order/pojo/Order.hbm.xml</value>
                <value>order/pojo/OrderItem.hbm.xml</value>
                <value>admin/pojo/Admin.hbm.xml</value>
            </list>
        </property>
    </bean>
    <!--事务管理-->
    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
       <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--Action的相关配置-->
    <bean name="indexAction" class="cn.eleven.index.action.IndexAction" scope="prototype">
        <property name="categoryService" ref="categoryService"/>
        <property name="productService" ref="productService"/>
    </bean>
    <bean name="userAction" class="cn.eleven.user.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <!--验证码Action-->
    <bean name="CheckImageAction" class="cn.eleven.user.action.CheckImageAction" scope="prototype">
    </bean>
    <bean name="ProductAction" class="cn.eleven.product.action.ProductAction" scope="prototype">
        <property name="productService" ref="productService"/>
    </bean>

    <bean name="CartAction" class="cn.eleven.cart.action.CartAction" scope="prototype">
        <property name="productService" ref="productService"/>
    </bean>

    <bean name="orderAction" class="cn.eleven.order.action.OrderAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
    </bean>
    <!--service的相关配置-->
    <bean name="userService" class="cn.eleven.user.service.UserService" >
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean name="categoryService" class="cn.eleven.category.service.CategoryService" >
        <property name="categoryDao" ref="categoryDao"/>
    </bean>
    <bean name="productService" class="cn.eleven.product.service.ProductService" >
        <property name="productDao" ref="productDao"/>
    </bean>
    <bean name="orderService" class="cn.eleven.order.service.OrderService">
        <property name="orderDao" ref="orderDao"/>
    </bean>

    <!--Dao的相关配置-->
    <bean name="userDao" class="cn.eleven.user.dao.UserDao" >
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="categoryDao" class="cn.eleven.category.dao.CategoryDao" >
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="productDao" class="cn.eleven.product.dao.ProductDao" >
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="orderDao" class="cn.eleven.order.dao.OrderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--后台相关配置-->
    <bean name="adminAction" class="cn.eleven.admin.action.AdminAction" scope="prototype">
        <property name="adminService" ref="adminService"/>
    </bean>
    <bean name="adminCategoryAction" class="cn.eleven.category.adminAction.AdminCategoryAction" scope="prototype">
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean name="adminCategorySecondAction" class="cn.eleven.categorySecond.adminCategorySecond.AdminCategorySecondAction" scope="prototype">
        <property name="categorySecondSerivce" ref="categorySecondSerivce"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>

    <bean name="adminService" class="cn.eleven.admin.service.AdminService">
        <property name="adminDao" ref="adminDao"/>
    </bean>
    <bean name="categorySecondSerivce" class="cn.eleven.categorySecond.service.CategorySecondSerivce">
        <property name="categorySecondDao" ref="categorySecondDao"/>
    </bean>


    <bean name="adminDao" class="cn.eleven.admin.dao.AdminDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="categorySecondDao" class="cn.eleven.categorySecond.dao.CategorySecondDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>



</beans>